*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #002339;
    color: #fff;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}

.container h1{
    font-weight: 500;
    font-size: 45px;
}

.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display img{
    width: 30px;
    cursor: pointer;
}

.display input{
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 24px;
}

.container button img{
    width: 28px;
    margin-right: 10px;
}

.button{
    border: 0;
    outline: 0;
    position: relative;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.button:active{
    transform: scale(0.96);
}

.button::before,
.button::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
}

.button.animate::before{
    top: -70%;
    background-image: radial-gradient(circle, #019f55 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #019f55 20%, transparent 30%),
        radial-gradient(circle, #019f55 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #019f55 15%, transparent 20%),
        radial-gradient(circle, #019f55 20%, transparent 20%),
        radial-gradient(circle, #019f55 20%, transparent 20%),
        radial-gradient(circle, #019f55 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        18% 18%;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 
        40% 90%, 55% 90%, 70% 90%;
    animation: topBubbles 0.6s ease-in-out infinite;
}

@keyframes topBubbles{
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 
            50% 50%, 65% 20%, 90% 30%;
    }
    100%{
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%,  0% 0%, 0% 0%, 0% 0%;
    }
}

.button.animate::after{
    bottom: -70%;
    background-image: radial-gradient(circle, #019f55 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #019f55 15%, transparent 20%),
    radial-gradient(circle, #019f55 20%, transparent 20%),
    radial-gradient(circle, #019f55 20%, transparent 20%),
    radial-gradient(circle, #019f55 20%, transparent 20%),
        radial-gradient(circle, #019f55 20%, transparent 20%),
        radial-gradient(circle, #019f55 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
        background-position: 10% 0%, 30% 10%, 55% 0%, 70% 0, 85% 0%, 70% 0%, 70% 0%;
        animation: bottomBubbles 0.6s ease-in-out infinite;
}

@keyframes bottomBubbles {
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 
            105% 0%;
    }
    100%{
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 
            105% 0%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.slidecontainer {
    margin-top: 50px;
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #fff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: #019f55;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #019f55;
    cursor: pointer;
  }

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

.bounce-animation {
    animation: none; /* Remove the animation property */
}

.bounce-animation.bouncing {
    animation: bounce 1s infinite; /* Apply the animation only when the element has the "bouncing" class */
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}