/* Imports and Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

:root {
    --primary-color: #019f55;
    --secondary-color: #050031;
    --text-color: #333;
    --light-text-color: #fff;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    --dark-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    color: var(--light-text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Container Styles */
.container {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.row {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}


/* Generator Container Styles */
.generate-container,
.password-container {
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 700px;
    background-color: #002339;
    overflow: hidden; /* Clip any overflow at the container level */

    /* Add this to make both containers equal in height */
    min-height: 500px; /* Use the maximum height of the content */
}

@media (max-width: 992px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
    .generate-container,
    .password-container {
        margin-bottom: 2rem;
        width: 90%; /* Adjust width for better fit on smaller screens */
    }
}

/* Description Styles */
.description {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--light-text-color);
}

/* Button Styles */
.signInBtn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signInBtn:hover {
    background-color: #45a049;
}

.signInBtn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.3);
}

/* Heading Styles */
.container h1 {
    font-weight: 500;
    font-size: 45px;
}

.container h1 span {
    color: var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
    padding-bottom: 7px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Custom Banner Color */
.custom-banner-color {
    background-color: var(--primary-color);
}

/* Display Styles */
.display {
    width: 100%;
    margin: 50px 0 30px;
    background: #fff;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}

.display img {
    width: 30px;
    cursor: pointer;
}

.display input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 24px;
}

/* Button Styles */
.container button img {
    width: 28px;
    margin-right: 10px;
}

.button {
    border: none;
    outline: none;
    position: relative;
    background: var(--primary-color);
    color: var(--light-text-color);
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.button:active {
    transform: scale(0.96);
}

/* Button Animation Styles */
.button::before,
.button::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
}

.button.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, var(--primary-color) 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, var(--primary-color) 20%, transparent 30%),
        radial-gradient(circle, var(--primary-color) 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, var(--primary-color) 15%, transparent 20%),
        radial-gradient(circle, var(--primary-color) 20%, transparent 20%),
        radial-gradient(circle, var(--primary-color) 20%, transparent 20%),
        radial-gradient(circle, var(--primary-color) 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 18% 18%;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    animation: topBubbles 0.6s ease-in-out infinite;
}

@keyframes topBubbles {
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.button.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, var(--primary-color) 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, var(--primary-color) 15%, transparent 20%),
        radial-gradient(circle, var(--primary-color) 20%, transparent 20%),
        radial-gradient(circle, var(--primary-color) 20%, transparent 20%),
        radial-gradient(circle, var(--primary-color) 20%, transparent 20%),
        radial-gradient(circle, var(--primary-color) 20%, transparent 20%),
        radial-gradient(circle, var(--primary-color) 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 10% 0%, 30% 10%, 55% 0%, 70% 0, 85% 0%, 70% 0%, 70% 0%;
    animation: bottomBubbles 0.6s ease-in-out infinite;
}

@keyframes bottomBubbles {
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 105% 0%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

/* Slider Styles */
.slidecontainer {
    margin-top: 50px;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #fff;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
}

.slider-value {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    padding: 10px;
    color: var(--light-text-color);
}

/* Options Styles */
.options label {
    color: var(--light-text-color);
    cursor: pointer;
    margin-left: 12px;
}

.options input {
    cursor: pointer;
}

/* Popup Styles */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Bounce Animation */
.bounce-animation {
    animation: none;
}

.bounce-animation.bouncing {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Select Button Styles */
.select-btn {
    margin-top: 5%;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.select-btn .btn-text {
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
}

.select-btn .arrow-dwn {
    display: flex;
    height: 21px;
    width: 21px;
    color: var(--light-text-color);
    font-size: 14px;
    border-radius: 50%;
    background: var(--primary-color);
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.select-btn.open .arrow-dwn {
    transform: rotate(-180deg);
}

/* List Items Styles */
.list-items {
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    display: none;
}

.select-btn.open~.list-items {
    display: block;
}

.list-items .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.list-items .item:hover {
    background-color: #e7edfe;
}

.item .item-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.item.checked .checkbox {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.checkbox .check-icon {
    color: var(--light-text-color);
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.item.checked .check-icon {
    transform: scale(1);
}

/* Saved Passwords Styles */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container .button {
    margin-right: 10px;
}

.new-password-container {
    display: flex;
    margin: 1rem 0;
    width: 100%;
}

.passwords {
    width: 100%;
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.password {
    background-color: #fff;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

.password .password-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    margin-right: 15px;
}

.password .password-name,
.password .password-text {
    word-break: break-all;
}

.password .removeBtn,
.password .toggleBtn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    white-space: nowrap;
}

.password .password-text {
    display: none; /* Hide the password text by default */
}

.password .toggleBtn.active + .password-content .password-text {
    display: block; /* Show the password text when toggle button is active */
}

#password-input {
    flex-grow: 1;
    margin-right: 10px;
}

#new-password-btn {
    white-space: nowrap;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .password {
        flex-direction: column;
        align-items: stretch;
    }
    .password-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .password .removeBtn,
    .password .toggleBtn {
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
    }
    
    /* Adjustments for the save button and password name input */
    .new-password-container {
        flex-direction: column;
    }
    #password-input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    #new-password-btn {
        width: 100%;
    }
}

.new-password-input {
    text-align: center;
    width: 300px;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;
}

.input {
    border: 1px solid #ccc;
    border-right: none;
    padding: 10px 15px;
    border-radius: 20px 0 0 20px;
    text-align: left;
    box-shadow: var(--box-shadow);
    font-size: 16px;
}

.input-btn {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-left: none;
    padding: 10px 20px;
    color: var(--light-text-color);
    text-align: center;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    box-shadow: var(--box-shadow);
    font-size: 16px;
}

.removeBtn {
    background-color: red;
    color: var(--light-text-color);
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: var(--box-shadow);
    z-index: 1; /* Ensure remove button is above other content */
}

.toggleBtn {
    background-color: grey;
    color: var(--light-text-color);
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.password .removeBtn {
    background-color: #ff4d4d;
    color: white;
}

.password .toggleBtn {
    background-color: #4d4d4d;
    color: white;
}

.password .password-name {
    font-weight: bold;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.password .password-content {
    flex-direction: column; /* Adjust flex direction */
    overflow: hidden; /* Hide overflowing content */
}

.check {
    display: flex;
    align-items: center;
    width: 100%;
}

.bullet {
    height: 10px;
    width: 10px;
    background-color: #555;
    border-radius: 50%;
}

.item {
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

.password-container {
    padding: 0rem;
    margin: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    width: 100%;
    max-width: 1000px;
    max-height: 700px;
}

.password-list {
    width: 100%; /* Fill the container horizontally */
    height: calc(100% - 2rem); /* Fill the container vertically */
    overflow-y: auto; /* Allow vertical scrolling if content exceeds height */
    padding-right: 1.5rem; /* Add extra padding for scrollbar */
    margin-right: -0.5rem; /* Pull scrollbar slightly inward */
    padding: 1rem; /* Optional: Add padding inside the list */
    margin: 0; /* Remove any margin */
    border-radius: 20px; /* Keep the border rounded */
    font-size: 18px;
    box-shadow: var(--box-shadow);

    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

/* Custom scrollbar styling */
.password-list::-webkit-scrollbar {
    width: 8px; /* Narrower scrollbar */
}
  
.password-list::-webkit-scrollbar-track {
    background: transparent;
    margin: 0.5rem 0; /* Add some space at top and bottom */
}
  
.password-list::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}
  
.password-list::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
}

.password-items {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to next line */
    justify-content: center; /* Center the items */
    gap: 20px;
    overflow: hidden; /* Hide any overflowing content */
}
